[submodule "ESP32"]
	path = ESP32
	url = https://github.com/intriqet/ESP32
[submodule "arduino"]
	path = arduino
	url = https://github.com/intriqet/arduino
[submodule "pybv1.1"] 
 	path = pybv1.1
  	url = https://github.com/intriqet/pybv1.1